 <!-- <h1>To Upload Image on mongoDB</h1>
    <hr>
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name"
                       value="" name="name" required>
            </div>
            <div>
                <label for="desc">Image Description</label>
                <textarea id="desc" name="pesc" value="" rows="2"
                          placeholder="Description" required>
                </textarea>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <hr> -->





      <h2>Your avatar</h2>

      <form method="POST" action="/imagesPages">
        <input type="hidden" id="avatar-url" name="avatar-url" value="/uploads/profile.jpg">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="full-name" placeholder="Full name"><br>
        <input type="submit" value="Update profile">
      </form>
