
  <div class="">
    <input name="myCanvas" type="file" id="myCanvas">
    <button id="btnUpload" type="submit" name="button"></button>
  </div>




<script type="text/javascript">
  const btnUpload = document.getElementById("btnUpload");
  const myCanvas = document.getElementById("myCanvas");

  btnUpload.addEventListener("click", uploadCanvasImage);

  function uploadCanvasImage(){
    const base64 = myCanvas.toDataURL();
    console.log(base64);
  }
</script>
