body{
  background-color: #ffefcf;
  font-size: 17px;
}
html {
  min-height: 100%;
  position: relative;
}

.jumbotron-fluid{
  background-color: #eeb76b;
  color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.header{
  color: #fff;
}
.navbar {
   min-height:12px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    background-color: #e2703a;
    /* padding: 0; */
}
.navbar-nav  li a:hover {
    color: #e2703a !important;
}
.navbar-brand{
  font-size: larger;
  padding-top: 10px;
}
.heading{
  padding-top: 20px;
  padding-bottom: 20px;
}

.card img {
  margin: 30px 20px 0 20px;
}
.circle-img {
  border-radius: 50%;
  border: 4px solid #fff;
  width: 120px;
  height: 120px;
}

.footer-padding {
  /* padding: 20px; */
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e2703a;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
#someBtn{
  height: 40px;
  font-size: large;
}
/* -----------------------------------------------------------------caretaker details----------------------------------------------------------------------------- */

.main-body{
  padding-top: 5%;
  padding-bottom: 5%;
}
.row{
  padding-left: 4%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-wrapper {
  margin: 10px;
  cursor: pointer;
  color: #be0000;
  transition: all 0.2s ease-out;
  border: 1px solid #ddd;
  /* padding: 10px; */
}
.card-wrapper:hover {
  box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.card-wrapper:active {
  transform: scale(1.01) translateY(0.2rem);
}
.card{
  background-color: #eeb76b;
  border: 4px solid #fff;
  min-width: 24rem;
  min-height: 28rem;
}
.custom-btn {
	background-color: #eeb76b;
}
.card-body{
  color: #fff;
  font-size: 1.3rem;
}
.card-title{
  font-size: 1.5rem;
}

/* --------------------------------------------------------------------caretakerProfile----------------------------------------------------------------------- */

.profile_image{
  width: 200px;
  height: 200px;
  position: relative;
  left: -50px;
}


/* ----------------------------------------------------------------------------home page---------------------------------------------------------------- */


/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #c06014;
}

.header-text h2 {
    font-size: 40px;

}

.header-text h2 span {
  border-radius: 10px;
	padding: 10px;
  background-color: #fff;
  opacity: 0.7;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.container {
    margin-top: 20px;
}

/* Carousel Styles */

.carousel-inner {
    height: 450px;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
  opacity: 0.5;
  object-fit: cover;
}

.carousel{
    margin-bottom: 4rem;
    position: relative;
}

.carousel-indicators .active {
    background-color: #e9896a;
}


.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Feature-Section */

#features{
  width: 75%;
  margin: auto;
  position: relative;
  z-index: 1;
  align-items: center;
}
.feature{
  padding-top: 20px;
  padding-bottom: 20px;
}
.feature-title{
  /* font-size: 1.5rem; */
  margin-top: 15px;
  margin-bottom: 15px;
}

.options{
   padding: 10% 5%;
}

.fonts{
  color: #e9896a;
}

.fonts:hover{
  color: #c06014;
}

.featurette-divider {
    margin: 2rem 0;
}
.feature-img{
  width: 300px;
  height: 200px;
  border-radius: 15px 50px 30px;
  border: 5px solid #e9896a;
  transition: all 0.2s ease-out;
}
.feature-img:hover {
  box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.feature-img:active {
  transform: scale(1.01) translateY(0.2rem);
}

/* Caretaker section */

.color-section{
  background-color: #e9896a;
  color: #fff;
  margin-top: 50px;
}


.featurette-lead{
    width: 500px;
  margin: 80px;
    margin-top: 30px;
    margin-bottom: 60px;
    /* font-size: 1.5rem; */
}
.lead{
  font-size: 1.25rem;
  font-weight: 350;
}
.display-4{
  font-family: 'Domine', serif;
  font-size: 4rem;
}
/* ------------------------------------------------------------------------patient registration form------------------------------------------------------- */

.bg-img {
     background: url('https://pfccpartners.com/wp-content/uploads/2013/06/group-holding-hands-pentagon-shape.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.8;
}

*[role="form"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form-control{
  font-size: 1.5rem;
}
.container{
  margin-top: 0;
}

/* -----------------------------------------------------------------Profile Pic----------------------------------------------------------------------------------------- */

.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;

}

/* -----------------------------------------------Patients Login form--------------------------------------------------------------------------------------------------*/


/* Text Align */
.text-c {
    text-align: center;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right
}
.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: whitesmoke
}
.text-darkyellow {
    color: #e2703a;
}

/* Lines */

.line-b {
    border-bottom: 1px solid #FFEB3B !important;
}

/* Buttons */
.button {
    border-radius: 3px;
}
.form-button {
    background-color: rgba(226,112,58, 0.8);
    border-color: rgba(226,112,58, 0.8);
    color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgba(226,112,58, 0.473);
    border-color: rgba(226,112,58, 0.473);
    color: #e6e6e6;
}
.button-l {
    width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
    margin: 15px;
}
.margin-g-sm {
    margin: 10px;
}
.margin-g-md {
    margin: 20px;
}
.margin-g-lg {
    margin: 30px;
}

.margin-l {
    margin-left: 15px;
}
.margin-l-sm {
    margin-left: 10px;
}
.margin-l-md {
    margin-left: 20px;
}
.margin-l-lg {
    margin-left: 30px;
}

.margin-r {
    margin-right: 15px;
}
.margin-r-sm {
    margin-right: 10px;
}
.margin-r-md {
    margin-right: 20px;
}
.margin-r-lg {
    margin-right: 30px;
}

.margin-t {
    margin-top: 15px;
}
.margin-t-sm {
    margin-top: 10px;
}
.margin-t-md {
    margin-top: 20px;
}
.margin-t-lg {
    margin-top: 30px;
}

.margin-b {
    margin-bottom: 15px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
    background-color: #5f5f5f;
    background-image: none;
    border: 1px solid #424242;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus,
.border-line:focus {
    background-color: #616161;
    color: #e6e6e6;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
    background-color: #3a3a3aa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

/* Backgrounds */

.main-bg {

    background: #424242;
    background: linear-gradient( #424242, #212121);
}

/* Login & Register Pages*/

.login-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}
.login.login-container {
    width: 300px;
}
.wrapper.login-container {
    margin-top: 140px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}
